<div class="content">
    <h3>LIST EVENT</h3>
    <table class="table table-bordered table-striped">
        <tr>
          <th>ID.</th>
          <th>Jenis Event</th>
          <th>Nama Event</th>
          <th>Tanggal Event</th>
          <th>Lokasi Event</th>
          <th>Harga Tiket</th>
          <th>Jumlah Tiket</th>
          </tr>
        <tr *ngFor="let e of api.eventlist">
          <td>{{e.id}}</td>
          <td>{{e.nama_event}}</td>
          <td>{{e.tanggal_event}}</td>
          <td>{{e.harga_tiket}}</td>
          <td>{{e.jumlah_tiket}}</td>
        </tr>
    </table>
</div>
<div>        
<label for="terjual" class="col-md-4 control-label">Masukkan Jumlah Tiket yang ingin anda beli</label>
        <div class="col-md-6">
        <input id="terjual" type="text" class="form-control" name="terjual" [(ngModel)]="terjual" required>
        </div>


        <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
        <button (click)="addTiket()" class="btn btn-primary">
        Beli Tiket
        </button>
        </div>
        </div>
</div>